.imgone {
  width: 100%;
  position:
}



.headone {
 
  background-color: rgba(255, 187, 0, 0.7);
  width: 69%;
  bottom: -247px;
  position: absolute;
  bottom:  130px;
  padding: 30px;    

}
.headone:hover {

  background-color: rgba(225, 142, 0, 0.757);
}   
.main_1 {
  position: relative;
}


.main_2 {
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.main_3 {
  display: flex;
  width: 100%;
  padding-top: 10x;
}

.mainbox {
  width: 100%;
  margin: 50px;
  border-top: 6px solid orange;
 
}

.img{
    width:100%
}

@media screen and (max-width: 600px) {
 .headone{
    display:none
 } 
 .main_2,.main_3{
    flex-direction: column;
      width: 100%;
      margin: -50px;
      padding-top: 50px;
      
 }
 
}

